
body{
    background-color: rgb(186, 186, 186);
}

.navbar {
  background-color: rgb(107, 107, 104);
   }

.navbar h2{
 color: white;
 padding: 5px;
  ;
}

.col{

}

.btn.btn-primary.btn-outline-primary {
    border: 1px solid black;
    background: #3340FF;
    color: black;
    
}  