

/* Menu page - Main page CSS */

.navbar-brand img{
    height: 70px;
    width: auto;
 
    
}
body{
    background-color: black;
}


/* Nav Bar CSS  start*/

.container-fluid {
    background-color: black;
    height: auto;

}

.nav-link{
    color: #BFA437;
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-link:hover{
    color: #c97b50;
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-user {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-top: 5px; /* changed */
    margin-right: 20px;

}

.img {
    width: 100%;
    height: 100%;
}


/*  aboutus content */

.aboutuscontent {
    background-color: black;
    color: #aeadaa;
    margin-bottom: 10%;
    text-align: center;
}

.aboutustext h1 {
    color: #aeadaa;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.aboutustext p {
    color:#aeadaa;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.aboutustext .img-fluid {
    height: 100%; 
}

/*  Contactus content */
.contactustext h1 {
    color: #aeadaa;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.contactustext h2 {
    color: #aeadaa;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.contactustext p {
    color:#aeadaa;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}

.contactustext .img-fluid {
    height: 100%; 
}




/*  footer CSS */
 


.footernav {
    margin-top: 10px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    opacity: 90%;
}


.details{
    line-height: 20%;
    color: #BFA437;
    margin-bottom: 00px;

}
.col-4 {
    text-align: top;
    color: #BFA437;
    opacity: 95%;
    margin-top: 00 px;
    font-size: 1.1rem;

}

.footer-nav .nav-link,
.footer-nav p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 90%;
    font-size: 0.95rem;
}




