

/* Menu page - Main page CSS */

.navbar-brand img{
    height: 70px;
    width: auto;
 
    
}
body{
    background-color: black;
}








/* Menu page - Nav Bar CSS */

.container-fluid {
    background-color: black;
    height: auto;

}

.nav-link{
    color: #BFA437;
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-link:hover{
    color: #c97b50;
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-user {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-top: 15px;
    margin-right: 20px;

}

.img {
    width: 100%;
    height: 100%;
}


/* Menu page - Nav Bar CSS */

.middle_content {
    background-color: black;
    height: 680px;
    width: 100%;
    margin-top: 00px;
    margin-bottom: 00px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.right-middle-image-AboutUS {
    position: absolute; /* Position the image absolutely within the container */
    margin-top: 25%; /* Align the top of the image to the middle of the container */

    /*top: 60%; /* Align the top of the image to the middle of the container */
    right: 0; /* Align the right side of the image to the right side of the container */
    transform: translateY(-70%); /* Adjust the image position to center it vertically */
    max-width: 55%; /* Limit maximum width of the image */
    
}

.left-text-AboutUs {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.9) ;
    text-align: center;
    font-size: 20px ;
    white-space: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bold;
    
    
}


.right-middle-image-ContactUS {
    position: absolute; /* Position the image absolutely within the container */
    margin-top: 25%; /* Align the top of the image to the middle of the container */

    /*top: 60%; /* Align the top of the image to the middle of the container */
    right: 0; /* Align the right side of the image to the right side of the container */
    transform: translateY(-70%); /* Adjust the image position to center it vertically */
    max-width: 55%; /* Limit maximum width of the image */
    
}

.left-text-ContactUs {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.9) ;
    text-align: center;
    font-size: 20px ;
    white-space: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bold;
    
    
}



/* Menu page - footer CSS */
 

.footer {
    justify-content: center;
    position: fixed;
    bottom: 0;
    align:bottom;
    left: 0;
    height: auto;
    width: 100%;
}

.details{
    line-height: 20%;
    color: #BFA437;
    margin-bottom: 00px;
    

}
.col-4 {
    text-align: top;
    color: #BFA437;
    opacity: 95%;
    margin-top: 00 px;
    font-size: 1.1rem;

}

.footer-nav .nav-link,
.footer-nav p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 90%;
    font-size: 0.95rem;
}




