/*background color*/
body {
    background-color:black;
}

.nav-link {
    background-color:black;
    color:#BFA437;
    text-align: center;
    padding: 10px;
    /*change the color of hover*/
    transition: 0.s;
    
}

.navbar-nav .nav-link:hover {
  color:white; /* Change the text color on hover */
}

/* background image CSS */
 .background-image {
  height: 550px; /* Adjust the height as per your requirement */
  overflow: hidden; /* This is optional, used to prevent image overflow */
 }