/*background  and nav bar   */

body {
    background-color:black;
}

.container-fluid {
  background-color: black;
  height: auto;

}

.nav-link{
  color: #BFA437;
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav-link:hover{
  color: #c97b50;
  font-size: 1.4rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fa-user {
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-left: 9px;
  margin-top: 5px; /* changed */
  margin-right: 20px;

}

.img {
  width: 100%;
  height: 100%;
}

/*...................................................*/




/* background image CSS */
.background-img {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust height as needed */
  overflow: hidden;
}

.background-img img {
  width: 100%;
  height: auto;
}

.content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.feedback-form-container {
  position: absolute;
  align-items: center;
  top: 30%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 77%; /* Adjust width as needed */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent white background */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Optional: Add shadow for better visibility */
}

.feedback-form-container input[type="text"] {
  width: calc(100% - 100px); /* Adjust width of input field */
  margin-right: 10px;
}

.feedback-form-container button {
  width: 120px; /* Adjust width of submit button */
  margin-top: 30px;
  margine-left: 20%;
  color: #BFA437;
  font-weight : bold;
  border: 1.5px solid #BFA437;
}

.comments{
  margin-top: 5%;
  margin-left: 20px;
}

.text-menuName1 {
  color: #BFA437;
  font-family: Cursive;
  font-size: 2.5rem;
  font-weight: bold;

}
.text-commentfor{
  color: white; 
  font-family :georgia;
  font-size: 2.5rem;
  font-weight: bold;

}
.text-username {
  color: #BFA437;
  font-family:Cursive;
  
}

.text-datetTme {
  color: #BFA437;
  font-family:Cursive;
  font-style: italic;
  font-size: 0.8rem;
}

.text-commentArea{
  color: white;
  font-family: Courier New;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 10px;


}

.darker{
  border: 1px solid #ecb21f;
  background-color: black;
  float: right;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
}

.comment{
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(13, 51, 38, 0.8);
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
  
}
.form-control {
  margin-top: 6%;
  height: 85px;
  margin-left: 0%;
  margine-right: 26%;
  border: 2px solid #BFA437;
  border-radius: 10px;

}

.comment h4,.comment span,.darker h4,.darker span{
  display: inline;
}

.comment p,.comment span,.darker p,.darker span{
  color: rgb(184, 183, 183);
}

h1,h4{
  color: white;
  font-weight: bold;
}




/*..............footer..............*/
.footer_nav {
  background-color: black;
  height: 60px;
  width: 100%;
}