/* backgroun css */
body{
    background-color: black;
    
    
}


.container-fluid {
    background-color: black;
    height: auto;

}

.nav-link{
    color: #BFA437;
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-link:hover{
    color: #c97b50;
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-user {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-top: 5px; /* changed */
    margin-right: 20px;
}

.navbar-brand img {
    height: 60px; 
    width: auto;
}


/* login */

h3{
    color: #BFA437;
    
    
}

.form-label{
    color: #BFA437;
    padding-top: 30px;
    line-height: 40px;
    
}
.form-control {
    margine-top: 40px;
}

p{
    color: #BFA437;
    padding-top: 40px;
    line-height: 28px;
    
}

a{
    color: #BFA437;
    
}


.btn.btn-primary.btn-outline-primary {
    line_height: 30%;
    border: 1px solid #BFA437;
    background: transparent;
    color: #BFA437;
    

}

/* register */

.alert{
    color: #000000;
    background-color: rgb(214, 219, 217);
    border: 1px solid white;
    max-width: 30%;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}

.reg{
    margin-top: 20%;
}












/*


.footer {
    justify-content: center;
    position: fixed;
    bottom: 0;
    align:bottom;
    left: 0;
    height: auto;
    width: 100%;
}

.details{
    line-height: 25%;
    color: #BFA437;
    margin-bottom: 00px;
    

}
.col-4 {
    text-align: top;
    color: #BFA437;
    opacity: 95%;
    margin-top: 00 px;
    font-size: 0.95em;

}

.footer-nav .nav-link,
.footer-nav p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 90%;
    font-size: 0.95rem;
}

*/