

/* Menu page - Main page CSS */

.navbar-brand img{
    height: 70px;
    width: auto;
 
    
}
body{
    background-color: black;
}






/* Menu page - Nav Bar CSS */

.container-fluid {
    background-color: black;
    height: auto;

}

.nav-link{
    color: #BFA437;
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-link:hover{
    color: #c97b50;
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-user {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-top: 5px;
    margin-right: 20px;

}

.mainbody{
    color: #BFA437;
    font-size: 2.5rem;
    margin-top: 20%;
    margin-left: 20%;
  
}
.logoutalert{
    margin-top: 10%;
    color: #BFA437;
   margin-left: 30%;
}


/* content */

.logout{
    margin-top: 20%;
    
}

h1{
    color: #BFA437;
    font-size: 2rem;
    margin-top: -10%;
    margin-left: -10%;
}


h2{
    color: #BFA437;
    font-size: 1.5rem;
    margin-top: 10%;
    margin-left: -10%;
}

.logoutalert a{
    color: #BFA437;
    font-size: 1rem;
    margin-top: 10%;
    margin-left: -10%;
    text-decoration: none;
}












  
/* footer CSS */
 


.footernav {
    margin-top: 20%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    opacity: 90%;
}


.details{
    line-height: 20%;
    color: #BFA437;
    margin-bottom: 00px;

}
.col-4 {
    text-align: top;
    color: #BFA437;
    opacity: 95%;
    margin-top: 00 px;
    font-size: 1.1rem;

}

.footer-nav .nav-link,
.footer-nav p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 90%;
    font-size: 0.95rem;
}



