/* Main page - Main page CSS */



body{
    background-color: black;
}








/* Main page - Nav Bar CSS */

.container-fluid {
    background-color: black;
    height: auto;

}

.nav-link{
    color: #BFA437;
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-link:hover{
    color: #c97b50;
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-user {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-top: 5px; /* changed */
    margin-right: 20px;

}

.navbar-brand img {
    height: 60px; 
    width: auto;
}



/* .img {
    width: 100%;
    height: 100%;
} */




/* carousel css */
.carousel-item img{
    height: 40rem;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: xx-large;
    white-space: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
}


  @media (max-width: 576px) {
    .display-3{
      font-size: 1.5rem !important;
      margin-left: -1.5em !important;; 
    }

    .navbar-brand img {
        height: 30px !important;; 
        width: auto !important;;
    }
    
    
  }


  

/* cards css */
.p-3{
   color: rgb(255, 255, 255);
   text-decoration: solid;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 50%;
   height: 100%; /
}

.p-3  ::after{
    background-color: rgba(0, 0, 0, 0.0);
}



h2{
    padding-top: 100%;
}

.p-3 h2,
.p-3 p {
    margin-top: 0;
}

/* menusummary css */
.mainmenu{
    color: white;
} 

.col-sm{
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    z-index: 1;
}

.btn.btn-primary.btn-outline-primary {
    border: 1px solid #BFA437;
    background: transparent;
    color: #BFA437;
}

.menuphoto{
    margin-top: -5%;
}

.menuphoto img{
    max-width: 60%; 
   

}

.topimage{
    z-index: 1;
}



/* footer css */
.footer {
    justify-content: center;
    position: fixed;
    bottom: 0;
    align:bottom;
    left: 0;
    height: auto;
    width: 100%;
}

.details{
    line-height: 20%;
    color: #BFA437;
    margin-bottom: 00px;
    

}
.col-4 {
    text-align: top;
    color: #BFA437;
    opacity: 95%;
    margin-top: 00 px;
    font-size: 1.1rem;

}

.footer-nav .nav-link,
.footer-nav p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 90%;
    font-size: 0.95rem;
}
